
InterfacesAndAbstraction/.vs/InterfacesAndAbstraction/v15/.suo
InterfacesAndAbstraction/.vs/InterfacesAndAbstraction/v15/Server/sqlite3/db.lock
InterfacesAndAbstraction/.vs/InterfacesAndAbstraction/v15/Server/sqlite3/storage.ide-shm
InterfacesAndAbstraction/.vs/InterfacesAndAbstraction/v15/Server/sqlite3/storage.ide
InterfacesAndAbstraction/BorderPatrol/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
InterfacesAndAbstraction/DefineAnInterface/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
InterfacesAndAbstraction/.vs/InterfacesAndAbstraction/v15/Server/sqlite3/storage.ide-wal
InterfacesAndAbstraction/CollectionHeirarchy/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
InterfacesAndAbstraction/Ferrari/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
InterfacesAndAbstraction/MilitaryElite/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
InterfacesAndAbstraction/StupidExercise/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
InterfacesAndAbstraction/StupidExercise/obj/Debug/StupidExercise.csproj.CoreCompileInputs.cache
InterfacesAndAbstraction/StupidExercise/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
InterfacesAndAbstraction/StupidExercise/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
InterfacesAndAbstraction/StupidExercise/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
InterfacesAndAbstraction/Telephony/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.lock
*.ide
*.ide-shm
*.ide-wal
